In [3]:
# We add this for to declare to datatype to machine

In [1]:
a = 10
print(type(a))

<class 'int'>

In [4]:
int

int

In [5]:
age = 21
print("my age is:",age)

my age is: 21

In [11]:
age = 25
print("my age is:",age)

my age is: 25

In [6]:
car = "range rover"
print("i have a:",car)

i have a: range rover

In [8]:
print(f"my car is:{car}")

my car is:range rover

In [12]:
print(f"my age is: {age}")

my age is: 25

In [14]:
marks = 56
print("i got marks:",marks)

i got marks: 56

In [19]:
line = 32
print("my line is:",line)

my line is: 32

In [21]:
print(f"my line is:{line}")
# here we called f = fstring

my line is:32

In [22]:
## format()
name = "Vaibhav"
age = "21"
print("my name is {} and age is {}".format(name,age))

my name is Vaibhav and age is 21

In [9]:
car_name = "TATA"
model_name = "Harrier"
print(f"i have a {car_name} and its model is {model_name}")

i have a TATA and its model is Harrier

In [16]:
rocket_type = "PSLV"
rocket_name = "3rd Generation"
print("Bharat Launches {} and its generation is {}".format(rocket_type,rocket_name))

Bharat Launches PSLV and its generation is 3rd Generation

In [24]:
# example 2
bike = "Pulsar"
car = "Range Rover"
print("i has a bike {} and car has {}".format(bike,car))

i has a bike Pulsar and car has Range Rover

In [28]:
# here in angular bracket what we write that called placeholder
print("My name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

My name is Vaibhav and age is 21

In [1]:
name = "Vaibhav Rasal"
age = 21
degree = "BE"
print("my name is {} and my age is {} and i pursuing {} degree".format(name,age,degree))

my name is Vaibhav Rasal and my age is 21 and i pursuing BE degree

In [3]:
mobile = "samsung s22 ultra"
ram = "12 GB"
camera = "108 MP"

print("i have {} and its ram is {} and camera is also good. it has {}".format(mobile, ram, camera))

i have samsung s22 ultra and its ram is 12 GB and camera is also good. it has 108 MP

In [9]:
print(f"my name is {name} and my age is {age} and i pursuing {degree} degree")

my name is Vaibhav Rasal and my age is 32 and i pursuing BE degree

### Control Flow

 #### Decision Making Points

In [10]:
## If statements

In [37]:
age = 17
if age<18:
    print("You are not eligible for vote")

You are not eligible for vote

In [2]:
income = 15000
if income<=15000:
    print("Thank for application we will let you know")

Thank for application we will let you know

In [38]:
age = 18
if age<=18:
    print("You are eligible for vote")

You are eligible for vote

In [9]:
a = 9
b = 989
if a<b:
    print("b is greater than a)

a is less than b

In [36]:
18==18

True

In [10]:
18<=18

True

In [11]:
78 > 98

False

#### Take Input from User

In [ ]:
name=input("Enter The Name")

In [ ]:
name

In [16]:
car = input("What is your car brand ")
if car != "Range Rover":
    print("Thanks For Visiting We Only Give Servise For Range Rover")
else:
    print("please check your waiting period")

What is your car brand  BMW

Thanks For Visiting We Only Give Servise For Range Rover

In [1]:
print("Hello World")

Hello World

In [2]:
age=int(input("my age is"))

my age is 21

In [17]:
rocket_number = int(input("Number of rockets launches till"))

Number of rockets launches till 53

In [3]:
type(age)

int

In [5]:
print("Hello World")

Hello World

In [7]:
age = int(input("my age is"))

my age is 21

In [8]:
## Task
## Take a input of age
## check whether age >=18 and age<=32

In [11]:
age = int(input("Enter your age"))
if age>=18 and age<=32:
    print("Your Are eligible for blood donation")

Enter your age 24

Your Are eligible for blood donation

In [26]:
password = input("Enter Your Password")
if password != "Vibe@1234":
    print("Wrong Password Check again")
else:
    print("Welcome to your account")

Enter Your Password avina

Wrong Password Check again

In [12]:
23<=54

True

In [13]:
23>=65

False

In [14]:
### if else(जर इतर) statement when statement not get output if value bigger than input

In [22]:
age = int(input("Enter your age"))
if age>=18 and age<=32:
    print("Your Are eligible for blood donation")
else:
    print("Thank You!! We will let you know")

Enter your age 18

Your Are eligible for blood donation

In [23]:
## Task
## mall
## any product greater than 1000 rs
## product >=1000 rs = 20% discount
## product <=1000 rs = 30% discount

In [33]:
product_price = int(input("Enter the price"))
if product_price>1000:
    print("The price of the product is {}".format(product_price*0.8))
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the price 1000

The price of the product is 700.0

In [1]:
# if we buy rs 5000 product and get dicount of 20% means 1000 rs dicount
(20/100)*5000

1000.0

In [9]:
# above same thing we can convert in f format
product_price = int(input("Enter the price"))
if product_price>1000:
    print(f"The price of the product is {product_price*0.8}".format())
else:
    print(f"The price of the product is {product_price*0.7}".format())

Enter the price 1003

The price of the product is 802.4000000000001

In [31]:
mars_location = input("In Which Pole You have to land")
if mars_location == "North Pole":
    print("Yes You can land on the station, Happy landing")
else:
    print("Sorry to say you have no permission for landing")

In Which Pole You have to land North Pole

Yes You can land on the station, Happy landing

In [ ]:
# Example 2
## Task
## mall - input the product price
## product >3000 rs 20% off
## if product price is >=4000, you will get free goa trip
## print the product price after removing the discount
## product >=2000 rs and <=3000 30% off
## print the product price after removing the discount
## price ==2999 u will get additional gift
## product <=1000 rs 0% off
## print the product price after removing the discount

In [15]:
# elif = else + if
## first take "if" then "elif" then "elif" then "else"
# if we want to add another condtion at third number then add another elif function
product_price = int(input("Enter The Price"))
if product_price>3000:
    if product_price==4000:
        print("Congrulations you get a goa trip")
    print(f"The price of product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price>=2999:
        print("Congratulations you get an additional gift")
    print(f"The price of product is {product_price*0.7}")
elif product_price>=100 and product_price<=2000: 
    print(f"The price of product {product_price*0.6}")
else:
    print("Lets drink tea")
    print("i will also be there")

Enter The Price 50

Lets drink tea
i will also be there

In [1]:
# loan aprove application 
# if income = 10000 then aprove loan of 100000
# if income > we are sorry to say, for lower in come we are currently give loan
# if income > 1,00,000 aprove loan of 10,000,00
country_name = input("Enter here your country name")
if country_name != "India" or country_name != "india":
    print("Sorry we currrenly operate in india only")
else:
    print("Verified your Indian")
    
pancard_number = int(input("Enter your valid pancard number"))
print("your pandcard details are verified")

aadhar_card = int(input("enter here valid aadhar card number"))
print("your aadhar nunmber is verified")

income = int(input("enter your annual income"))
if income <= 10000:
    print(" Thanks for application, but sorry we are not offer loan for lower income")

elif income>= 100000:
    print("wait for proceeding")
    
else:
    print("prceeding please wait")

Enter here your country name India

Sorry we currrenly operate in india only

Enter your valid pancard number 25151518144

your pandcard details are verified

enter here valid aadhar card number 2562514526

your aadhar nunmber is verified

enter your annual income 100000

wait for proceeding

In [ ]:
# CAP round for college:

name = input("Enter your name: ")

hsc_marks = eval(input("Enter here your HSC marks: "))

Physics = "Physics"

Chemistry = "Chemistry"

Mathematics = "Mathematics"

hsc_sub_total = eval(input(f"Enter here your Physics, Chemistry, Mathematics Marks Addition"))

if (hsc_sub_total >= 150):
    
    print("You are eligible of admision process")
else:
    print("you are not eligible for addmision process")
    
    

cet_score = eval(input("Enter here your cet score: "))
if (cet_score >= 96):
    print("congrulations you get addmision in compueter science engineering")

Enter your name:  va
Enter here your HSC marks:  87
Enter here your Physics, Chemistry, Mathematics Marks Addition 140

you are not eligible for addmision process

# comparision operator
True==True

In [2]:
## Single statement sauites
val = int(input("Enter The Number"))
if val<=999:
    print("Value is less than equal to 999")
else:
    print("Go to home")

Enter The Number 1000

Go to home

### Loops statement

#### 1. while loop
#### 2. for loop
#### 3. nested loops
#### 4. loop control(break.continue,pass)

## 1.while loop

In [3]:
joining_age=25
i=1
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
    
else:
    print("its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its time for retirement

In [ ]:
##### i = int(input("Enter the Number: "))
i = 2
while(i<=38):
    i = int(input("Enter the Number: "))
    print(i)

print("Done with the loop")

In [11]:
count = 5
while (count > 0):
    print(count)
    count = count - 1

5
4
3
2
1

In [6]:
number = 100
while (number >= 5):
    print(number)
    number = number - 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

In [10]:
### ATM machine with 1000 rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("put more money bank people")

1000
900
800
700
600
500
400
300
200
100
put more money bank people

## 2.for loop

In [12]:
# it is just like basket where we can put different different things
lst = ["Vaibhav",1,2,3,4,"apple","banana"]

In [13]:
type(lst)

list

In [14]:
lst[0]

'Vaibhav'

In [15]:
lst[3]

3

In [16]:
lst[5]

'apple'

In [17]:
lst

['Vaibhav', 1, 2, 3, 4, 'apple', 'banana']

In [12]:
students = ["Vaibhav","Dhiraj","vikee","Avinash","Gopal","Vishal"]
students[3]

'Avinash'

In [18]:
for x in lst:
    print(x)

Vaibhav
1
2
3
4
apple
banana

In [3]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [5]:
car = ["Range Rover","BMW","Rolls Roycee","Lamborgine"]
for z in car:
    print(z)

Range Rover
BMW
Rolls Roycee
Lamborgine

In [7]:
type(car)

list

In [8]:
car[2]

'Rolls Roycee'

In [20]:
fruits_list=["Banana","Mango","Cherry","Papaya","Appple"]

In [32]:
for a in fruits_list:
    print(a)
    if a=="Cherry":
        print("The fruit is cherry")
        break

Banana
Mango
Cherry
The fruit is cherry

In [25]:
fruits_list

['Banana', 'Mango', 'Cherry', 'Papaya', 'Appple']

In [26]:
fruits_list[4]

'Appple'

In [34]:
# end='' this write in horizontal format
fruit='mango'
for x in fruit:
    print(x,end='')

mango

In [35]:
fruit='mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [37]:
fruit[2]

'n'

#### Range

In [42]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [43]:
# here after putting 2 at the last we get output has difference of 2.
for i in range(1,6,2):
    print(i)

1
3
5

In [47]:
for i in range(1,10,4):
    print(i)

1
5
9

## 3.Nested Loops

In [57]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [55]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\n")

*

**

***

****

*****

******

*******

In [66]:
## Loops controls
## Break and continue
fruits_list=["Mango","Cherry","Apple","Papaya","Banana"]

In [67]:
for i in fruits_list:
    if i=="Apple":
        print("The friut is apple")
        break
    print(i)

Mango
Cherry
The friut is apple

In [69]:
# by using pass its skip apple
for i in fruits_list:
    if i=="Apple":
        print("The friut is apple")
        pass
    print(i)

Mango
Cherry
The friut is apple
Apple
Papaya
Banana

In [17]:
n = 4
n1 = 0
for i in range(1,n+1):
    for j in range(1,n+1):
        n1 = n1 + 1
        print(n1,end="  ")
    print()

1  2  3  4
5  6  7  8
9  10  11  12
13  14  15  16