## Object Oriented Programming

basically oops are created to handle different types of python files. also it create to get easy for edit, modify,recognize etc.
In oops modules divided in different classes

In [1]:
class test:
    pass

In [2]:
a = test()

In [3]:
type(a)

__main__.test

In [4]:
class module:
    pass
a = module()
type(a)

__main__.module

In [7]:
class name:
    pass
b = name()
print(type(b))

<class '__main__.name'>

#

In [8]:
class pune:
    
    def welcome_msg(self):
        print("welcome to pune")

In [10]:
vaibhav = pune()

In [11]:
vaibhav.welcome_msg()

welcome to pune

In [12]:
avinash = pune()

In [13]:
avinash.welcome_msg()

welcome to pune

In [15]:
dhiraj = pune()

In [16]:
dhiraj.welcome_msg()

welcome to pune

In [3]:
class welcome:
    
    def welcome_msg_1(self):
        print("Welcome to Maharashtra")

In [5]:
ramesh = welcome()

In [6]:
ramesh.welcome_msg_1()

Welcome to Maharashtra

In [1]:
class pwskills:
    
    def __init__(self, phone_number, email_id, student_id):
        
        self.phone_number = phone_number
        self.email_id = email_id
        self.student_id = student_id
        
    def return_student_details(self):
        return self.phone_number, self.email_id, self.student_id

In [3]:
vaibhav = pwskills(9322930375, "rasalvaibhavsanjay@gmail.com", 1234)

In [9]:
dhiraj = pwskills(874893893, "hdfgsdhsis", 8478)

In [10]:
vaibhav.phone_number

9322930375

In [11]:
dhiraj.email_id

'hdfgsdhsis'

In [12]:
vikas = pwskills(989808098,"hjbhyghbhjbh",76789)

In [13]:
vikas.student_id

76789

In [7]:
class anurag_hostel:
    
    def __init__(self, room_number, branch, payment_status, phone_number):
        
        self.room_number = room_number
        self.branch = branch
        self.payment_status = payment_status
        self.phone_number = phone_number
        
    def hostel_students_details(self):
        return self.room_number, self.branch, self.payment_status, self.phone_number

In [8]:
vaibhav = anurag_hostel(17, "Robotics And Automation", "payment done", 9322930375)

In [10]:
vaibhav.payment_status

'payment done'

In [11]:
vaibhav.phone_number

9322930375

In [12]:
dhiraj = anurag_hostel(18, "Information Technology", "payment done", 747878727362)

In [14]:
dhiraj.branch

'Information Technology'

In [15]:
dhiraj.payment_status

'payment done'

In [16]:
dhiraj.room_number

18

In [22]:
class flytbase:
    
    def __init__(self, employee_id, department, salary, blood_group, experience):
        
        self.employee_id = employee_id
        self.department = department
        self.salary = salary
        self.blood_group = blood_group
        self.experience = experience
        
    def flytbase_employee_info(self):
        self.employee_id, self.department, self.salary, self.blood_group, self.experience

In [27]:
vishal = flytbase(6372, "HR Department", 56000, "AB+", "3 Years")

In [29]:
ganesh = flytbase(76368, "Design Department", 673672, "O+", "4 Years")

In [30]:
rahul = flytbase(63723, "Creative designer" , 72372, "B+", "5 Years")

In [31]:
vishal.employee_id

6372

In [32]:
rahul.blood_group

'B+'

In [33]:
rahul.experience

'5 Years'

In [34]:
ganesh.department

'Design Department'

In [5]:
# in this code instead of self we can take any strings
# this method is called class method
# we also can change the Variables name not need to take same values
class cars:
    
    def __init__(self,Range_Rover, Mercedese, Tata, Mahindra, Walkswagan, Ashok_Layland):
        
        self.Range_Rover = Range_Rover
        self.Mercedese = Mercedese
        self.Tata = Tata
        self.Mahindra = Mahindra
        self.Walkswagan = Walkswagan
        self.Ashok_Layland = Ashok_Layland
        
    def return_car_models(self):
        return self.Range_Rover, self.Mercedese, self.Tata, self.Mahindra, self.Walkswagan, self.Ashok_Layland

In [6]:
Cars = cars("Velar", "s-class", "Harrier", "Thar","Polo", "Bada_Dost")

In [4]:
Cars.Range_Rover

'Velar'

In [7]:
Cars.Walkswagan

'Polo'

In [9]:
Cars.return_car_models()

('Velar', 's-class', 'Harrier', 'Thar', 'Polo', 'Bada_Dost')

In [39]:
class places:
    
    def __init__(self,Haridwar, Tirupati, Jejuri, Bhuleshwar, Trambkeshwar, ShaniShingnapur, Akkalkot):
        
        self.Haridwar = Haridwar
        self.Tirupati = Vyenkateshwara
        self.Jejuri = Khnadoba
        self.Bhuleshwar = Bhuleshwar
        self. Trambkeshwar= Trambkeshwar
        self.ShaniShingnapur = Shani
        self.Akkalkot = Dattguru
        
    def return_places_name(self):
        return self.Haridwar, self.Tirupati, self.Jejuri, self.Bhuleshwar, self.Trambkeshwar, self.ShaniShingnapur, self.Akkalkot

In [36]:
pl = ("Train", "Plane", "TwoWhwwler", "FourWheeler", "Bus", "Travel", "Ertiga")

In [37]:
temples.ShaniShingnapur

AttributeError: 'tuple' object has no attribute 'ShaniShingnapur'

### Polymorphism

In [1]:
def test(a,b):
    return a+b

In [3]:
test("vaibhav ","rasal")

'vaibhav rasal'

In [4]:
test(545,488)

1033

In [6]:
test(21,85)

106

In [7]:
test([2,3,4,5,6,4] , [2,4,5,3,4])

[2, 3, 4, 5, 6, 4, 2, 4, 5, 3, 4]

In [8]:
class data_science :
    def syllabus(self) :
        print("this is my data science class")

In [9]:
class web_dev :
    def syllabus(self) :
        print("this is my web dev class")

In [11]:
def class_parcer(class_obj) :
    for i in class_obj :
        i.syllabus()

In [ ]:
obj_data_science = data_science()

In [14]:
obj_web_dev = web_dev()

In [ ]:
class_obj = [obj_data_science, obj_web_dev]

In [22]:
class_parcer(class_obj)

this is my data science class
this is my web dev class

### Polymorphism Exmaples

In [1]:
class school :
    def city(self) :
        print("my school was in deulgaon rasal")

In [2]:
class college :
    def city(self) :
        print("my college was in baramati")

In [4]:
def lucky_cities(my_life) :
    for i in my_life :
        i.city()

In [5]:
my_education_in = school()

In [6]:
my_education_out = college()

In [7]:
my_life = [school, college]

In [9]:
class Maharashtra() :
    def capital(self) :
        print("Capital of Maharshtra is Mumbai")
        
    def language(self) :
        print("Language of maharashtra is marathi")

class Karnatka() :
    def capital(self) :
        print("Capital of Karnatka is Bengluru")
        
    def language(self) :
        print("Language of Karnatka is Kannada")
        
obj_mh = Maharashtra()
obj_ka = Karnatka()

for state in (obj_mh, obj_ka):
    state.capital()
    state.language

Capital of Maharshtra is Mumbai
Capital of Karnatka is Bengluru

In [16]:
class samsung_ultra_22() :
    def camera(self) :
        print("Camera of samsung s22 ultra is 108MP")
        
    def storage(self) :
        print("storage of samsung is 256 GB ROM and 12 GB RAM")
        
class iphone_14() :
    def camera(self) :
        print("camera of iphone of is 12 MP")
        
    def storage(self) :
        print("storage of iphone is 256 GB ROM and 8 GB ROM")

In [17]:
obj_sa = samsung_ultra_22()

In [22]:
obj_ip = iphone_14()

In [23]:
for spec in (obj_sa, obj_ip):
    spec.camera()
    spec.storage()

Camera of samsung s22 ultra is 108MP
storage of samsung is 256 GB ROM and 12 GB RAM
camera of iphone of is 12 MP
storage of iphone is 256 GB ROM and 8 GB ROM

In [34]:
class USA :
    def capital(self) :
        print("Capital of USA is Washington")
        
    def currency(self) :
        print("Currency of USA is Dollar")
        
    def stock_market(self) :
        print("USA Stock market name is Nasdq")
        
    def space_agency(self) :
        print("Space agency of USA is NASA")
        
class India :
    def capital(self) :
        print("Capital of India is New Delhi")
        
    def currency(self) :
        print("Currency of India is Rupyees")\
        
    def stock_market(self) :
            print("stock market of india is Bomnay Stock Exchange")
            
    def space_agency(self) :
        print("space Agency of India is ISRO")

In [36]:
obj_USA = USA()
obj_IND = India()

In [38]:
for info in (obj_USA, obj_IND) :
    info.capital()
    info.currency()
    info.stock_market()
    info.space_agency()

Capital of USA is Washington
Currency of USA is Dollar
USA Stock market name is Nasdq
Space agency of USA is NASA
Capital of India is New Delhi
Currency of India is Rupyees
stock market of india is Bomnay Stock Exchange
space Agency of India is ISRO

In [10]:
class Bird:
    def intro(self):
        print("there are many birds in the world")
    
    def flight(self):
        print("most of the bird can fly but not all")
        
class sparrow(Bird):
    def flight(self):
        print("sparrow can fly")
        
class eagle(Bird):
    def flight(self):
        print("eagle can fly abobe the sky")
        
        
obj_bird = Bird()
obj_sparrow = sparrow()
obj_eagle = eagle()

obj_bird.intro()
obj_bird.flight()

obj_sparrow.intro()
obj_bird.flight()

obj_eagle.intro()
obj_bird.flight()

there are many birds in the world
most of the bird can fly but not all
there are many birds in the world
most of the bird can fly but not all
there are many birds in the world
most of the bird can fly but not all

## Encapsulation

Encapsulation means to protect code from other user to avoid change in code. we kow the class name and also variable name so other cannot change the code without correct keywords. hide intire workspace from user

In [11]:
class test :
    def __init__(self, a,b) :
        self.a = a
        self.b = b

In [12]:
t = test(67,89)

In [13]:
t.a

67

In [14]:
t.b

89

In [15]:
t.a = 76676

In [16]:
t.a

76676

In [34]:
class car:
    
    def __init__(self, year , make , model , speed ) :
        self.__year = year
        self.__make = make
        self.__model = model
        self.__speed = 0
        
    def set_speed(self , speed ) :
        self.__speed = 0 if speed < 0 else speed
        
    def get_speed(self) :
        return self.__speed

In [37]:
obj_car.get_speed()

0

In [36]:
obj_car = car(2021 , "toyota" , "innova", 12)

In [30]:
obj_car._car__year

2021

In [25]:
obj_car._car__make

'toyota'

In [26]:
obj_car._car__model = "tata"

In [27]:
obj_car._car__model

'tata'

In [31]:
obj_car.set_speed(-282)

In [33]:
obj_car._car__speed

0

In [19]:
class car:
    
    def __init__(self, year , make , model , speed ) :
        self.__year = year
        self.__make = make
        self.__model = model
        self.__speed = 0
        
    def set_speed(self , speed ) :
        self.__speed = 0 if speed < 0 else speed

In [22]:
obj_car.set_speed(-1234)

AttributeError: 'car' object has no attribute 'set_speed'

In [21]:
obj_car._car__speed

0

In [46]:
class bank_account :
    
    def __init__(self, balance ) :
        self.__balance = balance
        
    def deposit(self, amount ) :
        self.__balance = self.__balance + amount
        
    def withdraw(self, amount ) :
        if self.__balance >= amount :
            self.__balance = self.__balance = amount
            return True
        else :
            return False
        
    def get_balance(self) :
        return self.__balance

In [47]:
obj_bank_account = bank_account(1000)

In [48]:
obj_bank_account.withdraw(11545)

False

## Inheritance

In [4]:
class parent:
    
    def test_parent(self) :
        print("this is my parent classs ")

In [7]:
class child(parent):
    pass

In [8]:
child_obj = child()

In [10]:
child_obj.test_parent()

this is my parent classs

#### Example 2

In [11]:
class class1(class1) :
    def test_class1(self) :
        print("this is class1")

In [12]:
class class2(class1) :
    def test_class2(self):
        print("this is class2")

In [13]:
class class3(class2) :
    def test_class3(self) :
        print("this is class 3")

In [14]:
obj_class3 = class3()

In [15]:
obj_class3.test_class1()

this is class1

In [18]:
obj_class2 = class3()

In [19]:
obj_class2.test_class1()

this is class1

In [20]:
obj_class3.test_class2()

this is class2

### Example 3

In [22]:
class class1:
    def test_class1(self) :
        print("this is my class 1" )
        
class class2:
    def test_class2(self) :
        print("this is my class 2")
        
class class3(class1, class2):
    pass

In [23]:
obj_class3 = class3()

In [24]:
obj_class3.test_class1()

this is my class 1

In [25]:
obj_class3.test_class2()

this is my class 2

## Abstraction

In [1]:
from abc import ABC, abstractmethod

class India(ABC):
    
    @abstractmethod
    def Language(self):
        pass
    
class Maharashtra(India):
    
    def Language(self):
        print("Maharashtra's official language is Marathi")
    
class Karnatka(India):
    
    def Language(self):
        print("Karnatka's official language is Kannada")
    
if __name__ == "__main__":
    
    maharashtra = Maharashtra()
    maharashtra.Language()
    
    karnatka = Karnatka()
    karnatka.Language()

Maharashtra's official language is Marathi
Karnatka's official language is Kannada

In [ ]:
import abc

class pwskills:
    
    @abc.abstractmethod
    def student_details(self):
        pass
    
    @abc.abstractmethod
    def student_assignment(self):
        pass
    
    @abc.abstractmethod
    def student_marks(self):
        pass    

class data_science(pwskills):
    
    def student_details(self):
        return "it will try to return a details of data science masters"
    
    def student_assignment(self):
        return "it will return a details of student assignment for data science masters"
    
    
class web_dev(pwskills):
    
    def student_details(self):
        return "it will try to return a details of web devlopment"
    
    def student_assignment(self):
        return "it will try to return a details of web development"